/* media*/

@media screen and (max-width:320px) {
    .cartop {
        display: inline-block;
        width: 100%;
        height: 50%;
        background: url(../img/carimg.png) no-repeat;
        background-size: contain;
        margin-top: 40%;
        margin-left: 5%;
    }
}

@media screen and (max-width:375px){
    .header-info .hidden-menu-ticker,
    .hidden-menu, .header-menu-mobile, 
    .work-mobile {
    display: none;
    }
}

@media screen and (min-width:376px){
    .hidden-menu-ticker,
    .btn-menu,
    .hidden-menu,.header-menu-mobile, .why,
    .work-mobile,.contact {
        display: none;
    }
}

@media screen and (max-width:375px) {

    body {
        width:100%;
    }

    .header-info .tel{
        margin:0;
        width: 300px;
    }

    .header-menu-mobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 250px;
    }

    .hidden-menu ul,
    .header-menu-mobile ul {
        text-align: center;
        list-style: none;
        margin:0;
        width: 90%;
        background: #634da0;
        height: 250px;
    }

    .hidden-menu li,
    .header-menu-mobile li {
        border-bottom: solid 2px #2f2548;
        height: 50px;
    }

    .hidden-menu a,
    .header-menu-mobile a {
        line-height: 50px;
        text-decoration: none;
        font-family: Calibri;
        font-size: 22.5px;
        font-weight: bold;
        color: #77dce9;
    }

    .header-menu {
        display: none;
    }
    /*menu*/
    .hidden-menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: #513a95;
        height: 260px;
        top: 0;
        left: -500px;
        transition: left .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .hidden-menu-ticker {
        display: none;
    }

    .btn-menu {
        color: #513a95;
        padding: 5px;
        position: fixed;
        top: 20px;
        right: 25px;
        cursor: pointer;
        transition: left .23s;
        z-index: 30;
        width: 40px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu span {
        display: block;
        height: 5px;
        background-color: #a591df;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn-menu span.first {
        margin-top: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu {
        right: 10px;
        top: 10px;
    }

    .hidden-menu-ticker:checked ~ .hidden-menu {
        left: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }
    /*menu*/

    .car {
        background-size: auto;
        height: 270px;
    }

    .car .left  {
        width: 100%;
        height: 270px;
    }

    .car .carimg,
    .car .left .vizov {
        display:none;
    }

    .car .left p {
        margin:0;
        width:300px;
        padding-left:20px;
    }

    .car .callform, .car .icons {
        display: none;
    }

    .header-info .title,
    .header-info .w24,
    .header-info .w22 {
        display:none;
    }
    
    .header-info .phone {
        margin-left: 15%;
        margin-top: 15px;
        width: 65%;
        float:left;
        font-size: 25px;
    }

    .header-info {
        display: inline-block;
        padding-left: 20px;
        height: 70px;
        width:100%;
    }

    .header-info .work24 img {
        position: absolute;
        height: 40px;
        margin-top: 10px;
        width: 40px;
    }

    .header-menu {
        width: 100%;
    }
    
    .cartop {
        display: inline-block;
        width: 90%;
        height: 50%;
        background: url(../img/carimg.png) no-repeat;
        background-size: contain;
        margin-top: 35%;
        margin-left: 10%;
    }

    .text, .us-adv, .work .right, .work .left .map, .price .line,
    .col3, .otz, .otzivi, .footer-menu, .work {
        display: none;
    }

    .why {
        width: 100%;
    }

    .why .advpos {
        padding-left: 15%;
        margin-bottom: 10px;
    }

    .why h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Calibri;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        color: #513a95;
    }

    .why p {
        height: 70px;
        line-height: 70px;
        background: #cff4fa;
        text-align: center;
        margin-bottom: 20px;
        font-family: HelveticaNeueCyr;
        font-size: 15px;
        font-weight: 500;
        color: #513a95;
    }

    .why .row1 .p1 {
        line-height: 35px;
    }

    .work-mobile {
        display: inline-block;
        width: 100%;
        height: 415px;
    }

    .work-mobile li {
        width: 100%;
        padding-top: 0px;
    }

    .work-mobile h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: HelveticaNeueCyr;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #513a95;
    }

    .work-mobile ul {
        padding-left: 10px;
    }

    .work-mobile .we_work ul span {
        font-size: 20px;
        font-weight: normal;
    }

    .work-mobile .we_work .time_evct {
        margin-bottom: 25px;
        height: 56px;
    }

    .work-mobile .we_work ul .cost {
        font-size: 13px;
        font-weight: normal;
    }

    .work-mobile .we_work ul p {
        font-family: Arial;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        font-weight: bold;
        color: #4dbdd6;
        line-height: 18px;
    }

    .work-mobile .list {
        
        line-height: 25px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 34px;
        height: 100px;
        font-family: HelveticaNeueCyr;
        font-size: 10px;
        font-weight: 500;
        color: #513a95;
    }

    .work-mobile .right_points{
        padding: 0;
    }

    .work-mobile .center_points{
        width: 115px;
        padding: 0;
    }
    .work-mobile .right_points ul,
    .work-mobile .center_points ul {
        list-style: none;
        padding: 0;
    }

    .price .left table {
        margin-left: 10px;
    }

    .price {
    height: 500px;
    width: 100%;
    display: inline-block;
    }
    
    .price h2 {
        text-align: center;
        margin-right: 0;
    }

    .price .left {
        clear: both;
        width:100%;
    }
    
    .price .left .col1,
    .price .left .col2 {
        border-bottom: none;
    }

    .price .left .col2 {
        width: 40%;
    }

    .price .right,
    .price .right .callform {
        margin-left: 0;
        margin-top: 80px;
        width: 100%;
        height: 330px;
    }

    .price .right .callform select[type="text"],
    .price .right .callform input[type="text"],
    .price .right .callform input[type=submit] {
         width:100%
    }

    .about-us {
        width: 100%;
        height: 100px;
        margin:0;
        text-align: center;
    }  

    .about-us-text p {
    width: 100%;
    height: ;
    margin-left: 0;
    font-size: 11.8px;
    }  

    .about-us-text {
        padding: 10px;
    }
    
    .work .left {
        clear: both;
        margin-left: 10px;
    }

    .contact {
        display: inline-block;
        padding-left: 50px;
        padding-top: 10px;
        width: 100%;
        background: #cff4fa;
        height: 250px;
    }

    .contact h1 {
        font-family: Calibri;
        font-size: 30px;
        margin-left: -40px;
        text-align: center;
        font-weight: bold;
        color: #513a95;
        margin-bottom: 20px;
    }

    .contact p {
        text-align: left;
        line-height: 30px;
        width: 80%;
        font-family: HelveticaNeueCyr;
        font-size: 15px;
        font-weight: 500;
        color: #663399;
    }

    .phone-footer {
        width: 100%;
        height: 40px;
    }
    
    .tel-footer span {
        font-weight: 200;
    }
    .tel-footer {
        text-decoration: none;
        cursor: help;
        height: 24px;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        color: #513a95;
    }

}


@media screen and (max-width:320px) {
    .cartop {
        display: inline-block;
        height: 50%;
        background: url(../img/carimg.png) no-repeat;
        background-size: contain;
        margin-top: 40%;
        margin-left: 5%;
    }
}
